.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  padding: 20px;
  .add-new-todo-container {
    width: inherit;
    display: flex;
    justify-content: center;
    .ant-card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      .add-new-item-button {
        margin-top: 20px;
        width: 35%;
      }
    }
  }
  .app-title {
    font-weight: 900;
  }
  .add-new-todo-container {
    width: 80%;
    margin: 20px 0;
  }
  .todo-list-container {
    width: 80%;
  }
}
